.container {
  display: flex;
  flex-direction: column;
}

.controls {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.save {
  flex: 1;
}

.cancel {
  flex: 0 0 auto;
}
